/* html,
 body {
     height: 100%;
     min-height: 100%
 }
 
 body.active {
     overflow-x: hidden;
     overflow-y: hidden
 }*/

.foot-nav {
    display: block;
}

.dropdown-overlay {
    background-color: transparent;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0;
    z-index: 1;
    display: none;
}

.show {
    display: block;
}


.pull-right {
    float: right!important;
}

.pull-left {
    float: left!important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.mynavbar:after,
.mynavbar:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-nav:after,
.navbar-nav:before,
.foot-nav:after,
.foot-nav:before {
    display: table;
    content: " ";
}

.mynavbar:after {
    clear: both;
}

.brand-div {
    z-index: 99;
    position: relative;
}

.navbar-inverse .navbar-brand {
    color: white;
    //font-weight: 600;
    //font-size: 20px;
    font-weight: 400;
    font-size: 26px;
    padding: 0 0 0 10px;
    line-height: 50px;
    letter-spacing: 2px;
}


/*.navbar-inverse .navbar-nav li>a:hover {
    color: white;
}*/

.navbar-nav li>a,
.foot-nav a {
    color: rgba(255, 255, 255, .9);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 15px;
    line-height: 20px;
    position: relative;
    display: block;
}

.navbar-nav li>a {
    line-height: 70px; 
    padding: 0 15px;   
}

.foot-nav a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #bd8df0; //9064BF rgba(125,182,177,1);
    background-color: transparent;
}



/*.navbar-inverse .navbar-nav>.active>a {
    background-color: transparent;
}*/

.overlay {
    background-color: transparent;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 25px;
    z-index: 100;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

.overlay.active {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-nav>li {
    float: none;
    position: relative;
}

#nav-join {
    margin: 15px 15px 0 15px;
    color: white;
    //padding: 8px 15px;
    height: 40px;
    line-height: 35px;
    width: 105px;
}


/*.nav {    
    display: block;
}*/

@media screen and (max-width: 767px) {

    .navbar-nav li>a {
        line-height: 50px; 
    }

    .dropdown-menu {
        position: relative;
        float: none;
        border: 0;
        box-shadow: none;
        background-color: transparent;
        padding: 0 20px;
    }

    .dropdown {
        margin-bottom: 5px;
    }


    #nav-join {
        margin-top: 15px;
    }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        transition: all .25s ease-out
    }

    .row-offcanvas-right {
        right: 0;
    }


    .row-offcanvas-right.active {
        //right: 260px;
        transform: translateX(-260px);
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -260px
    }

    .row-offcanvas-left {
        left: 0
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left: -50%
    }
    .row-offcanvas-left.active {
        left: 50%
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%
    }
    .sidebar-nav .mynavbar .navbar-collapse {
        padding: 0;
        max-height: none
    }
    .sidebar-nav .mynavbar ul {
        float: none
    }
    .sidebar-nav .mynavbar ul:not {
        display: block
    }
    .sidebar-nav .mynavbar li {
        float: none;
        display: block
    }
    .sidebar-nav .mynavbar li a {
        padding-top: 12px;
        padding-bottom: 12px
    }

    .navbar-nav {
        padding: 20px;
        margin: 0;
    } //.navbar .nav-container ul
}

.navbar-collapse-wrap {
    position: absolute
}

.mynavbar {
    border: none;
    //z-index: 999;
    background-color: transparent;
    margin-bottom: 0;
    padding: 10px;
    position: absolute;
    top: 0;
    min-height: 50px;
    width: 100%;
}

.mynavbar .navbar-nav>.current-menu-item a {
    color: #fff;
    background-color: #080808
}

.mynavbar .navbar-toggle:focus,
.mynavbar .navbar-toggle:hover {
    background-color: transparent
}

.mynavbar .nav-container {
    padding: 0px
}

.mynavbar .nav-container .navbar-header {
    margin: 0;
    position: relative;
    //z-index: 99;
    float: none;
}

.mynavbar .nav-container>.navbar-collapse {
    position: fixed;
    z-index: 101;
    height: 100%;
    top: 0px;
    right: -260px;
    margin: 0;
    padding: 0px;
    width: 260px;
    white-space: nowrap;
    box-shadow: none;
    border-top: 0px solid white;
    display: block;
    overflow-y: auto;
    background-color: #222;
    overflow-x: hidden
}

.mynavbar .nav-container>.navbar-collapse.active {
    right: 0px
}



.transition {
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out
}

.navbar-toggle {
    z-index: 102;
    border: none;
    margin: 5px 3px 0 0;
    display: block;
    position: relative;
    padding: 9px 10px;
    background-color: transparent;
}

.navbar-toggle .icon-bar {
    -webkit-transform-origin: 21px;
    -ms-transform-origin: 21px;
    transform-origin: 21px;
    -webkit-transition: -webkit-transform .2s, opacity .1s;
    transition: transform .2s, opacity .1s;
    height: 3px;
    width: 22px
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
    opacity: 0
}


.mynavbar .nav-container {
    //padding: 0 15px
}

@media (min-width: 768px) {

    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }

    /*.navbar-nav {
    float: left;
    margin: 0;
    }*/
    /*.navbar .nav-container .navbar-header {
         margin: 0px;
         padding: 0px
     }*/
    .navbar-toggle {
        display: none;
    }

    .mynavbar .nav-container .navbar-header {
        float: left;
    }

    .navbar-nav {
        z-index: 101;
        position: absolute;
        right: 0;
        width: auto; //background-color: transparent;
        margin: initial;
        //margin-top: 5px;
        top: 0;
        float: left;
        display: block;
    }


    .mynavbar .nav-container>.navbar-collapse {
        position: initial;
        z-index: initial;
        bottom: initial;
        top: initial;
        background-color: initial;
        margin: initial;
        width: initial
    }

    .overlay {
        display: none
    }

    .navbar-nav>li {
        float: left;
    }


    .mynavbar .nav-container .dropdown-menu {
        background-color: #222;
        padding: 20px 10px;
        width: 210px;
        margin-top: 0;
        position: absolute;
    }
}